@model IEnumerable<WMS.Models.StorageSpace>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Storage</h1>
@if (User.IsInRole("Firm"))
{
    <p>
        <a asp-action="Create">Request storage space</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm.FirmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firm.FirmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
                    {
                        @if (!item.Available)
                        {<a asp-action="Approve" asp-route-id="@item.Id">Approve</a> <span>|</span>}
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Dispose</a>
                </td>
            </tr>
        }
    </tbody>
</table>
