@model IEnumerable<WMS.Models.ItemDetails>

@{
    ViewData["Title"] = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageURI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img style="max-width:64px;height:auto" src=" @Html.DisplayFor(modelItem => item.ImageURI)" alt="NO IMAGE!" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UPC">Details</a>@if (User.IsInRole("Employee") || User.IsInRole("Manager")) {<p style="display:inline"> | <a asp-action="Delete" asp-route-id="@item.UPC">Delete</a></p>}
            </td>
        </tr>
}
    </tbody>
</table>
